# OS files
.DS_Store
Thumbs.db

# Excel auto-backups
~$*.xlsx
~$*.xlsm
~$*.xlsb

# Temporary/lock files
*.lock
*.tmp
*.bak

# VS Code settings (optional)
.vscode/

# Python or Jupyter stuff (if used at all)
*.ipynb_checkpoints
__pycache__/
*.pyc

# Data
datasets/raw/*
datasets/intermediate/*
*.csv
*.tsv
